<br>
<br>
<br>

<div class ="center-button"><a class ="newbutton" href="/gallery/new_artwork">Add new artwork</a>
</div>
<div class = "center-content"><% for artwork in @artworks %>
  <p><%= artwork.title() %></p>
  <img class ="image_size" src="<%= artwork.image() %>" alt="<%=artwork.title%>">
  <p><%= artwork.artist.name() %></p>

  <a class="visitorbutton" href="/gallery/artworks/<%= artwork.id%>">View artwork</a>
<br>
  <a class="button" href="/gallery/artworks/<%= artwork.id%>/edit">Edit</a>

  <form class ="flex-form" action="/gallery/artworks/<%= artwork.id%>/delete" method="post">
    <input class= "button" type="submit" value ="Delete"/>
  </form>

  <% end %>
</div>
