<br>
<br>
<br>

<a href="/gallery/new_artwork">Add new artwork</a>

<% for artwork in @artworks %>
<p><%= artwork.title() %></p>
<img class ="image_size" src="<%= artwork.image() %>" alt="<%=artwork.title%>">
<p><%= artwork.artist_id() %></p>

<a class="visitorbutton" href="/gallery/artworks/<%= artwork.id%>">View artwork</a>

<a class="button" href="/gallery/artworks/<%= artwork.id%>/edit">Edit</a>

<form action="/gallery/artworks/<%= artwork.id%>/delete" method="post">
  <input class= "button" type="submit" value ="Delete"/>
</form>

<% end %>
