
<br>

<h1><%= @artworks.title() %></h1>

<img class ="image_size" src="<%= @artworks.image() %>" alt="<%=@artworks.title%>">
<p><%= @artworks.materials() %></p>
<p><%= @artworks.category() %></p>
<p><%= @artworks.artist_id() %></p>
